@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-Black.woff2') format('woff2'),
        url('Fraunces-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


html{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    background-color: #F2F2F2;
}
*{
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* SITE HEADER */

.site-header {
    padding-top: 44px;
    padding-bottom: 44px;
}
.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;  
}
.site-list__item {
    margin-left: 32px;
}
.site-list__item-links {
    color: #83888F;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}
.site-list__item-links:hover{
    color: lightgreen;
}

/* SITE MAIN */

.site-main__section {
    padding-top: 150px;
    padding-bottom: 200px;
    margin-bottom: 100px;
    background-image: url(../img/section-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.site-main__section-wrapper{
    margin-left: 86px;
}
.site-main__text {
    width: 493px;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.site-main__desc {
    width: 405px;
    color: #FEFCF7;
    margin-top: 0;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;    
}
.site-link {
    display: inline-block;
    color: #FEFCF7;
    background-color: #0E8784;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-right: 31px;
    padding-left: 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.5s ease,
    color 0.5s ease;
}
.site-link:hover{
    color: #000;
    background-color: #d3d3d2;
}
.site-section {
    padding-top: 150px;
    background-image: url(../img/coffe-foni.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.site-section__list {
    margin: 0;
    margin-bottom: 200px;
    padding: 0;
    list-style-type: none;
    display: flex;  
    justify-content: center;
    align-items: flex-end;
}
.site-section__item {
    margin-left: 30px;
    text-align: center;
}
.site-section-title {
    color:#333D4B;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.site-section__text {
    width: 245px;
    color: #333D4B;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.site-article__wrapper{
    position: relative;
    margin-bottom: 351px;
    background-color: #2C343E;
}
.site-article__box {
    color:#FEFCF7;
    padding-top: 100px;
    padding-bottom: 317px;
    text-align: center;
}
.site-article__box--heading 
.site-article__title {
    width: 329px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.site-article__box--heading 
.site-article-text {
    width: 540px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.site-article__list {
    position: absolute;
    top: 365px;
    left: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.site-article__item {
    padding: 72px 48px 48px 47px;
    background-color: #0E8784;
    text-align: center;
    border-radius: 8px;
}
.site-article__item:not(:last-child){
    margin-right: 30px;
}
.site-article__list--heading 
.site-article__title{
    width: 255px;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.site-article__list--heading 
.site-article-text{
    width: 240px;
    color: #FEFCF7;
}
.site-article-link {
    text-decoration: none;
}
.site-article__image--height{
    padding-top: 23px;
}

.main-section {

}
.main-section__heading {
    width: 255px;
    color: #83888F;
    margin-bottom: 80px;
    margin-left: 95px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;    
}
.main-section__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
}
.main-section__item {
    margin-left: 95px;
}
.main-section__image {
    margin-top: 0;
    margin-bottom: 38px;
}
.main-section__title {
    width: 218px;
    color: #333D4B;
    margin-top: 0;
    margin-bottom: 43px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}
.main-section__desc {
    width: 269px;
    color: #333D4B;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;   
}
.site-main__link-wrapper--link 
.site-link {
    margin-left: 95px;
    margin-bottom: 200px;
}

/* SITE FOOTER */

.site-footer {
    width: 1280px;
    margin: 0 auto;
    background-color: #2C343E;
}
.site-footer__container {
    padding-top: 47px;
    padding-bottom: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-logo:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.site-footer__logos {
    display: flex;
    align-items: center;
}
.site-footer__logos-link{
    text-decoration: none;
}
.site-footer__logo {
    margin-right: 24px;
}   
.site-footer__logo:hover{
    background-color: #0E8784;
}
